<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- Rem : If used via a DataAccess context, properties tag will be ignored 
  <properties resource="../../database.config"/> -->
  <properties resource="DataConfig\database.config"/>
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>
 
  <!-- Optional if resource -->
  <providers resource="DataConfig\providers.config"/>
  <!-- ==== SqlClient configuration =========	-->
  <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
  <!--<database>
    --><!-- Optional ( default ) --><!-- 
    <provider name="sqlServer1.1"/>
    <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password}"/>
  </database>-->

   <!--<database>
    <provider name="OleDb2.0"/>
    <dataSource name="iBatisNet" connectionString="provider=microsoft.Jet.OleDb.4.0;data source=${database};"/>
  </database>-->

   <database>
    <provider name="SQLite3"/>
    <dataSource name="iBatisNet" connectionString="provider=SQLite3;Data Source=tlpsp.db3;Pooling=true;FailIfMissing=false"/>
  </database>
 <sqlMaps>
     <!-- user via embedded-->
    <!--<sqlMap resource="Maps\SqlClient\Project.xml"/>
    <sqlMap resource="Maps\SqlClient\SmdGroup.xml"/>
    <sqlMap resource="Maps\SqlClient\SMMLOG.xml"/>
    <sqlMap resource="Maps\SqlClient\Smmprog.xml"/>
    <sqlMap resource="Maps\SqlClient\Smmuser.xml"/>
    <sqlMap resource="Maps\SqlClient\Smmgroup.xml"/>
    <sqlMap resource="Maps\SqlClient\Smugroup.xml"/>
    <sqlMap resource="Maps\SqlClient\SAppProps.xml"/>
    <sqlMap resource="Maps\SqlClient\vsmdgroupprog.xml"/>
    <sqlMap resource="Maps\SqlClient\SystemData.xml"/>-->

    <sqlMap resource="Maps\Planning\SVGFILE.xml"/>
    <sqlMap resource="Maps\Planning\SVGFOLDER.xml"/>
    
    <!--<sqlMap resource="Maps\Planning\glebeProperty.xml"/>
    <sqlMap resource="Maps\Planning\sonGlebeProperty.xml"/>
    <sqlMap resource="Maps\Planning\glebeType.xml"/>
    <sqlMap resource="Maps\Planning\property.xml"/>
    <sqlMap resource="Maps\Planning\UsepropertyType.xml"/>
    <sqlMap resource="Maps\Planning\UseRelating.xml"/>
    <sqlMap resource="Maps\Planning\rightMenu.xml"/>
    <sqlMap resource="Maps\Planning\LineInfo.xml"/>
    <sqlMap resource="Maps\Planning\LineType.xml"/>
    <sqlMap resource="Maps\Planning\PrintInfo.xml"/>
    <sqlMap resource="Maps\Planning\substation.xml"/>
    <sqlMap resource="Maps\Planning\Dlph.xml"/>
    <sqlMap resource="Maps\Planning\LayerFile.xml"/>
    <sqlMap resource="Maps\Planning\LayerGrade.xml"/>-->
    <sqlMap resource="Maps\Planning\PSPDIR.xml"/>
    <sqlMap resource="Maps\Planning\PSPDEV.xml"/>
    <sqlMap resource="Maps\Planning\WireCategory.xml"/>
    <!--<sqlMap resource="Maps\Planning\PSP_ImgInfo.xml"/>
    <sqlMap resource="Maps\Planning\PSP_ImgTree.xml"/>
    
    <sqlMap resource="Maps\Planning\PSP_bdz_type.xml"/>
    <sqlMap resource="Maps\Planning\PSP_interface.xml"/>-->
    <sqlMap resource="Maps\Planning\PSP_Substation_Info.xml"/>
    <sqlMap resource="Maps\Planning\PSP_PSubstationInfo.xml"/>    
    <sqlMap resource="Maps\Planning\SVG_ENTITY.xml"/>
    <sqlMap resource="Maps\Planning\SVG_FILE.xml"/>
    <sqlMap resource="Maps\Planning\SVG_IMAGE.xml"/>
    <sqlMap resource="Maps\Planning\SVG_LAYER.xml"/>
    <sqlMap resource="Maps\Planning\SVG_SYMBOL.xml"/>
    <!--<sqlMap resource="Maps\Planning\LineList1.xml"/>
    <sqlMap resource="Maps\Planning\PSP_PlanList.xml"/>
    <sqlMap resource="Maps\Planning\PSP_LineData.xml"/>

    <sqlMap resource="Maps\Planning\PSP_Line_Info.xml"/>

    <sqlMap resource="Maps\Planning\PSP_SubstationPar.xml"/>
    <sqlMap resource="Maps\Planning\PSP_SubstationSelect.xml"/>
    <sqlMap resource="Maps\Planning\PSP_SubstationUserNum.xml"/>
    <sqlMap resource="Maps\Planning\PSP_SubstationMng.xml"/>
    <sqlMap resource="Maps\Planning\PSP_GProg.xml"/>
    <sqlMap resource="Maps\Planning\PSP_Gra_item.xml"/>
    <sqlMap resource="Maps\Planning\Psp_ProgLayerList.xml"/>-->
    <sqlMap resource="Maps\Planning\PSP_ELCPROJECT.xml"/>
    <sqlMap resource="Maps\Planning\PSP_ElcDevice.xml"/>
    
    <!--<sqlMap resource="Maps\Stutistic\BurdenLine.xml"/>
    <sqlMap resource="Maps\Stutistic\BurdenByte.xml"/>
    <sqlMap resource="Maps\Stutistic\BurdenLineForecast.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerLine.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerStuff.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProject.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerEachTotal.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerStuffList.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProjectList.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerEachTotalList.xml"/>
    <sqlMap resource="Maps\Stutistic\Line_Info.xml"/>-->
    <!--<sqlMap resource="Maps\Stutistic\PSP_PowerSubstationInfo.xml"/>-->
    <!--<sqlMap resource="Maps\Stutistic\PowerProTypes.xml"/>

    <sqlMap resource="Maps\Stutistic\PowerTypes.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerValues.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerYears.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerEachList.xml"/>


    <sqlMap resource="Maps\Stutistic\PowersTypes.xml"/>
    <sqlMap resource="Maps\Stutistic\PowersValues.xml"/>
    <sqlMap resource="Maps\Stutistic\PowersYears.xml"/>

    <sqlMap resource="Maps\Stutistic\PowerStuffTypes.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerStuffValues.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerStuffYears.xml"/>


    <sqlMap resource="Maps\Stutistic\PowerProjectTypes.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProjectValues.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProjectYears.xml"/>-->
    <!--<sqlMap resource="Maps\Stutistic\Substation_Info.xml"/>-->
    <!--<sqlMap resource="Maps\Stutistic\PowerPicSelect.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerSubstationLine.xml"/>-->

  </sqlMaps>
</sqlMapConfig>
