<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- Rem : If used via a DataAccess context, properties tag will be ignored 
  <properties resource="../../database.config"/> -->
  <properties resource="DataConfig\database.config"/>
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <!-- Optional if resource -->
  <providers resource="DataConfig\providers.config"/>
  <!-- ==== SqlClient configuration =========	-->
  <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
  <database>  
    <!-- Optional ( default ) -->
    <provider name="sqlServer1.1"/>
    <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password}"/>
  </database>

  <sqlMaps>
    <!-- user via embedded-->
    <sqlMap embedded="Itop.DOMAIN.Update.Maps.SAppUpdate.xml,Itop.DOMAIN.Update"/>

    <sqlMap resource="Maps\SqlClient\Project.xml"/>
    <sqlMap resource="Maps\SqlClient\SmdGroup.xml"/>
    <sqlMap resource="Maps\SqlClient\SMMLOG.xml"/>
    <sqlMap resource="Maps\SqlClient\Smmprog.xml"/>
    <sqlMap resource="Maps\SqlClient\Smmuser.xml"/>
    <sqlMap resource="Maps\SqlClient\Smmgroup.xml"/>
    <sqlMap resource="Maps\SqlClient\Smugroup.xml"/>
    <sqlMap resource="Maps\SqlClient\SAppProps.xml"/>
    <sqlMap resource="Maps\SqlClient\vsmdgroupprog.xml"/>
    <sqlMap resource="Maps\SqlClient\SystemData.xml"/>




    <sqlMap resource="Maps\Forecast\Ps_forecast_list.xml"/>
    <sqlMap resource="Maps\Forecast\Ps_Forecast_Math.xml"/>
    <sqlMap resource="Maps\Forecast\BaseColor.xml"/>
    <sqlMap resource="Maps\Forecast\Ps_History.xml"/>
    <sqlMap resource="Maps\Forecast\Ps_BadData.xml"/>
    <sqlMap resource="Maps\Forecast\Ps_Forecast_Setup.xml"/>
    <sqlMap resource="Maps\Forecast\Ps_Calc.xml"/>
    <sqlMap resource="Maps\Forecast\Base_Data.xml"/>
    <sqlMap resource="Maps\Forecast\Ps_HistoryType.xml"/>

    <sqlMap resource="Maps\BaseData\Ps_Volume.xml"/>
    <sqlMap resource="Maps\BaseData\BaseColor.xml"/>

    <sqlMap resource="Maps\Layouts\Layout.xml"/>
    <sqlMap resource="Maps\Layouts\LayoutANTL.xml"/>
    <sqlMap resource="Maps\Layouts\LayoutContent.xml"/>
    <sqlMap resource="Maps\Layouts\LayoutContentANTL.xml"/>
    <sqlMap resource="Maps\Layouts\RtfCategory.xml"/>
    <sqlMap resource="Maps\Layouts\RtfAttachFiles.xml"/>
    <sqlMap resource="Maps\Layouts\EconomyAnalysis.xml"/>
    <sqlMap resource="Maps\Layouts\Econ.xml"/>
    <sqlMap resource="Maps\Layouts\PspType.xml"/>
    <sqlMap resource="Maps\Layouts\LayoutType.xml"/>
    <sqlMap resource="Maps\Layouts\LayoutBookMark.xml"/>
    
    
    <sqlMap resource="Maps\Chen\PSP_Types.xml"/>
    <sqlMap resource="Maps\Chen\PSP_Values.xml"/>
    <sqlMap resource="Maps\Chen\PSP_Years.xml"/>
    <sqlMap resource="Maps\Chen\PSP_P_Types.xml"/>
    <sqlMap resource="Maps\Chen\PSP_P_Values.xml"/>
    <sqlMap resource="Maps\Chen\PSP_P_Years.xml"/>
    <sqlMap resource="Maps\Chen\PSP_Calc.xml"/>
    <sqlMap resource="Maps\Chen\PSP_Calc_Spring.xml"/>
    <sqlMap resource="Maps\Chen\PSP_GDPBaseYear.xml"/>
    <sqlMap resource="Maps\Chen\PSP_YearVisibleIndex.xml"/>
    <sqlMap resource="Maps\Chen\PSP_GDPTypes.xml"/>
    <sqlMap resource="Maps\Chen\PSP_GDPValues.xml"/>
    <sqlMap resource="Maps\Chen\PSP_GDPYeas.xml"/>
    <sqlMap resource="Maps\Chen\PSP_CapBalance.xml"/>
    <sqlMap resource="Maps\Chen\PSP_ForecastReports.xml"/>
    <sqlMap resource="Maps\Chen\PSP_ForecastValues.xml"/>
    <sqlMap resource="Maps\Chen\PSP_WGBCReports.xml"/>
    <sqlMap resource="Maps\Chen\PSP_WGBCValues.xml"/>
    <sqlMap resource="Maps\Chen\PSP_BaseYearRate.xml"/>
    <sqlMap resource="Maps\Chen\PSP_PowerProject_ProfessValues.xml"/>
    <sqlMap resource="Maps\Chen\PSP_VolumeBalance.xml"/>
    <sqlMap resource="Maps\Chen\PSP_VolumeBalanceDataSource.xml"/>
    <sqlMap resource="Maps\Chen\PSP_VolumeBalance_Calc.xml"/>
    <sqlMap resource="Maps\Chen\PSP_35KVPingHeng.xml"/>
    <sqlMap resource="Maps\Chen\Power35KvStyle.xml"/>

    <sqlMap resource="Maps\Stutistic\BurdenLine.xml"/>
    <sqlMap resource="Maps\Stutistic\BurdenByte.xml"/>
    <sqlMap resource="Maps\Stutistic\BurdenMonth.xml"/>
    <sqlMap resource="Maps\Stutistic\BurdenLineForecast.xml"/>
    <sqlMap resource="Maps\Stutistic\BurdenCommon.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_Project_List.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerLine.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerStuff.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProject.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerEachTotal.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerStuffList.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProjectList.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerEachTotalList.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerTypes.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_PowerTypes_Liao.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerValues.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerYears.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerEachList.xml"/>
    <sqlMap resource="Maps\Stutistic\PowersTypes.xml"/>
    <sqlMap resource="Maps\Stutistic\PowersValues.xml"/>
    <sqlMap resource="Maps\Stutistic\PowersYears.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerStuffTypes.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerStuffValues.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerStuffYears.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProTypes.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProValues.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProYears.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProjectTypes.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProjectValues.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerProjectYears.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerPicSelect.xml"/>
    <sqlMap resource="Maps\Stutistic\Substation_Info.xml"/>
    <sqlMap resource="Maps\Stutistic\PowerSubstationLine.xml"/>
    <sqlMap resource="Maps\Stutistic\Line_Info.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_PowerSubstationInfo.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_PowerProValues_LangFang.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_PlanTable_HuaiBei.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_EachList.xml"/>
    <sqlMap resource="Maps\Stutistic\Foretime_Elect.xml"/>
    <sqlMap resource="Maps\Stutistic\LayoutList.xml"/>
    <sqlMap resource="Maps\Stutistic\Line_beicong.xml"/>
    <sqlMap resource="Maps\Stutistic\Line_beizhu.xml"/>
    <sqlMap resource="Maps\Stutistic\Project_Sum.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_BigUser_Types.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_BigUser_Values.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_BigUser_Years.xml"/>
    <sqlMap resource="Maps\Stutistic\Ps_Substation_As.xml"/>
    <sqlMap resource="Maps\Stutistic\Ps_Power.xml"/>

    <sqlMap resource="Maps\ExpressCalculate\PSP_ExpressionCalculator.xml"/>
    <sqlMap resource="Maps\GM\Common_Type.xml"/>

    <sqlMap resource="Maps\Table\Ps_Table_Yd.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_200PH.xml"/>
    <sqlMap resource="Maps\Table\Ps_YearRange.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_Edit.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_100PH.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_500PH.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_220Result.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_110Result.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_500Result.xml"/>
    <sqlMap resource="Maps\Table\Ps_PowerBuild.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_ElecPH.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_TZGS.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_35PH.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_35Result.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_AreaData.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_GDP.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_Report.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_BuildPro.xml"/>
    <sqlMap resource="Maps\Table\PS_Table_AreaWH.xml"/>
    <sqlMap resource="Maps\Table\PW_tb3a.xml"/>
    <sqlMap resource="Maps\Table\PW_tb3b.xml"/>
    <sqlMap resource="Maps\Table\PW_tb3c.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_TZMX.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_Enterprise.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_WG.xml"/>
    <sqlMap resource="Maps\Table\Ps_Table_Area_TYPE.xml"/>
  
   

    <!--<sqlMap resource="Maps\Stutistic\PSP_ImgTree.xml"/>
    <sqlMap resource="Maps\Stutistic\PSP_ImgInfo.xml"/>-->


    <sqlMap resource="Maps\Planning\glebeProperty.xml"/>
    <sqlMap resource="Maps\Planning\sonGlebeProperty.xml"/>
    <sqlMap resource="Maps\Planning\glebeType.xml"/>
    <sqlMap resource="Maps\Planning\SVGFILE.xml"/>
    <sqlMap resource="Maps\Planning\SVGFOLDER.xml"/>
    <sqlMap resource="Maps\Planning\property.xml"/>
    <sqlMap resource="Maps\Planning\UsepropertyType.xml"/>
    <sqlMap resource="Maps\Planning\UseRelating.xml"/>
    <sqlMap resource="Maps\Planning\rightMenu.xml"/>
    <sqlMap resource="Maps\Planning\LineInfo.xml"/>
    <sqlMap resource="Maps\Planning\LineType.xml"/>
    <sqlMap resource="Maps\Planning\PrintInfo.xml"/>
    <sqlMap resource="Maps\Planning\substation.xml"/>
    <sqlMap resource="Maps\Planning\Dlph.xml"/>
    <sqlMap resource="Maps\Planning\LayerFile.xml"/>
    <sqlMap resource="Maps\Planning\LayerGrade.xml"/>
    <sqlMap resource="Maps\Planning\PSPDIR.xml"/>
    <sqlMap resource="Maps\Planning\PSPDEV.xml"/>
    <sqlMap resource="Maps\Planning\PSP_ImgInfo.xml"/>
    <sqlMap resource="Maps\Planning\PSP_ImgTree.xml"/>
    <sqlMap resource="Maps\Planning\WireCategory.xml"/>
    <sqlMap resource="Maps\Planning\PSP_bdz_type.xml"/>
    <sqlMap resource="Maps\Planning\PSP_interface.xml"/>

    <sqlMap resource="Maps\Planning\SVG_ENTITY.xml"/>
    <sqlMap resource="Maps\Planning\SVG_FILE.xml"/>
    <sqlMap resource="Maps\Planning\SVG_IMAGE.xml"/>
    <sqlMap resource="Maps\Planning\SVG_LAYER.xml"/>
    <sqlMap resource="Maps\Planning\SVG_SYMBOL.xml"/>
    <sqlMap resource="Maps\Planning\LineList1.xml"/>
    <sqlMap resource="Maps\Planning\PSP_PlanList.xml"/>
    <sqlMap resource="Maps\Planning\PSP_LineData.xml"/>
    <sqlMap resource="Maps\Planning\PSP_PSubstationInfo.xml"/>
    <sqlMap resource="Maps\Planning\PSP_Line_Info.xml"/>
    <sqlMap resource="Maps\Planning\PSP_Substation_Info.xml"/>
    <sqlMap resource="Maps\Planning\PSP_SubstationPar.xml"/>
    <sqlMap resource="Maps\Planning\PSP_SubstationSelect.xml"/>
    <sqlMap resource="Maps\Planning\PSP_SubstationUserNum.xml"/>
    <sqlMap resource="Maps\Planning\PSP_SubstationMng.xml"/>
    <sqlMap resource="Maps\Planning\PSP_GProg.xml"/>
    <sqlMap resource="Maps\Planning\PSP_Gra_item.xml"/>
    <sqlMap resource="Maps\Planning\Psp_ProgLayerList.xml"/>
    <sqlMap resource="Maps\Planning\PSP_ELCPROJECT.xml"/>
    <sqlMap resource="Maps\Planning\PSP_ElcDevice.xml"/>
    <sqlMap resource="Maps\Planning\PSP_GprogElevice.xml"/>
  
    


  </sqlMaps>
</sqlMapConfig>
