<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<appSettings>
    <add key="serverAddress" value="localhost"/>
    <add key="serverPort" value="5161"/>
    <add key="serverProtocol" value="TCP"/>
    <add key="AppSysID" value="系统代号"/>
    <add key="UpdateDate" value=""/>
    <add key="lastLoginUserNumber" value="admin"/>
    <add key="Style" value="Skin"/>
    <add key="SkinName" value="Liquid Sky"/>
    <add key="UseWindowsXPTheme" value="False"/>
    <add key="UseDefaultLookAndFeel" value="True"/>
    <add key="RightModule" value="False"/>
	</appSettings>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" secure="false"/>
			</channels>
			<client>
        <!--系统登录-->
        <wellknown type="Itop.Server.Interface.Login.ILoginAction, Itop.Server.Interface" url="0001"/>
        <wellknown type="Itop.Server.Interface.AppProp.IAppPropAction, Itop.Server.Interface" url="0002"/>
        <wellknown type="Itop.Server.Interface.IConfigService, Itop.Server.Interface" url="0003"/>

        <!--用户管理-->        
        <wellknown type="Itop.Server.Interface.IBaseService, Itop.Server.Interface" url="0100"/>
        <wellknown type="Itop.Server.Interface.ISmmuserService, Itop.Server.Interface" url="0110"/>
      </client>
		</application>
	</system.runtime.remoting>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add fileName="Itop.log" header="----------------------------------------" footer="----------------------------------------" formatter="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="Callstack" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="FlatFile TraceListener"/>
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="FlatFile TraceListener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="FlatFile TraceListener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
