<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <appSettings>
    <add key="serverAddress" value="localhost"/>
    <add key="serverPort" value="5161"/>
    <add key="serverProtocol" value="TCP"/>
    <add key="lastLoginUserNumber" value="rabbit"/>
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" secure="false"/>
      </channels>
      <client>
        <!--系统登录-->
        <wellknown type="Itop.Server.Interface.Login.ILoginAction, Itop.Server.Interface" url="0001"/>
        <wellknown type="Itop.Server.Interface.AppProp.IAppPropAction, Itop.Server.Interface" url="0002"/>

        <!--用户管理-->
        <wellknown type="Itop.RightManager.Service.Interfaces.IUserService, Itop.RightManager.Service" url="0109"/>
        <wellknown type="Itop.RightManager.Service.Interfaces.ISmmprogService, Itop.RightManager.Service" url="0101"/>
        <wellknown type="Itop.RightManager.Service.Interfaces.IImagesService, Itop.RightManager.Service" url="0102"/>
        <wellknown type="Itop.Server.Interface.IBaseService, Itop.Server.Interface" url="0100"/>
        <wellknown type="Itop.Server.Interface.ISmmuserService, Itop.Server.Interface" url="0110"/>
      </client>
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
