<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <probing privatePath="bin;bin2\subbin;bin3"/>
      </assemblyBinding>
   </runtime>
  <appSettings>
    <add key="database2" value="MapData.yap"/>
    <add key="database" value="MapData.map"/>
    <!--<add key="jd" value="126.497" />
    <add key="wd" value="45.851" />-->
    <!--<add key="jd" value="100.272" />
    <add key="wd" value="25.61" />-->
    <add key="jd" value="108.05" />
    <add key="wd" value="24.7" />
    <add key="mapview" value="10000" />
    <add key="maptype2" value="baidu" />
    <add key="maptype" value="lt" />
  </appSettings>
</configuration>

