USE [itop_dwgh]
GO
/****** 对象:  Table [dbo].[Template_PSPDEV]    脚本日期: 06/11/2012 09:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_PSPDEV](
	[SUID] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Number] [int] NULL CONSTRAINT [DF_Template_PSPDEV_Number]  DEFAULT (0),
	[Name] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[TemplateType] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[X1] [float] NULL CONSTRAINT [DF_Template_PSPDEV_X1]  DEFAULT (0),
	[Y1] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Y1]  DEFAULT (0),
	[X2] [float] NULL CONSTRAINT [DF_Template_PSPDEV_X2]  DEFAULT (0),
	[Y2] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Y2]  DEFAULT (0),
	[SvgUID] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[FirstNode] [int] NULL CONSTRAINT [DF_Template_PSPDEV_FirstNode]  DEFAULT ((-1)),
	[LastNode] [int] NULL CONSTRAINT [DF_Template_PSPDEV_LastNode]  DEFAULT ((-1)),
	[EleID] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[Type] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[OutP] [float] NULL CONSTRAINT [DF_Template_PSPDEV_OutP]  DEFAULT (0),
	[OutQ] [float] NULL CONSTRAINT [DF_Template_PSPDEV_OutQ]  DEFAULT (0),
	[InPutP] [float] NULL CONSTRAINT [DF_Template_PSPDEV_InPutP]  DEFAULT (0),
	[InputQ] [float] NULL CONSTRAINT [DF_Template_PSPDEV_InputQ]  DEFAULT (0),
	[VoltR] [float] NULL CONSTRAINT [DF_Template_PSPDEV_VoltR]  DEFAULT (0),
	[VoltV] [float] NULL CONSTRAINT [DF_Template_PSPDEV_VoltV]  DEFAULT (0),
	[LineR] [float] NULL CONSTRAINT [DF_Template_PSPDEV_LineR]  DEFAULT (0),
	[LineTQ] [float] NULL CONSTRAINT [DF_Template_PSPDEV_LineTQ]  DEFAULT (0),
	[LineGNDC] [float] NULL CONSTRAINT [DF_Template_PSPDEV_LineGNDC]  DEFAULT (0),
	[LineChange] [float] NULL CONSTRAINT [DF_Template_PSPDEV_LineChange]  DEFAULT (0),
	[Flag] [int] NULL,
	[NodeType] [nvarchar](10) COLLATE Chinese_PRC_CI_AS NULL,
	[Burthen] [decimal](18, 4) NULL CONSTRAINT [DF_Template_PSPDEV_Burthen]  DEFAULT (0),
	[LineLength] [float] NULL CONSTRAINT [DF_Template_PSPDEV_LineLength]  DEFAULT (0),
	[LineLevel] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[LineType] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[LineStatus] [nvarchar](10) COLLATE Chinese_PRC_CI_AS NULL,
	[VoltCapacity] [float] NULL CONSTRAINT [DF_Template_PSPDEV_VoltCapacity]  DEFAULT (0),
	[PowerFactor] [float] NULL CONSTRAINT [DF_Template_PSPDEV_PowerFactor]  DEFAULT (0),
	[StandardVolt] [float] NULL CONSTRAINT [DF_Template_PSPDEV_StandardVolt]  DEFAULT (0),
	[StandardCurrent] [float] NULL CONSTRAINT [DF_Template_PSPDEV_StandardCurrent]  DEFAULT (0),
	[PositiveR] [float] NULL CONSTRAINT [DF_Template_PSPDEV_PositiveR]  DEFAULT (0),
	[PositiveTQ] [float] NULL CONSTRAINT [DF_Template_PSPDEV_PositiveTQ]  DEFAULT (0),
	[ZeroR] [float] NULL CONSTRAINT [DF_Template_PSPDEV_ZeroR]  DEFAULT (0),
	[ZeroTQ] [float] NULL CONSTRAINT [DF_Template_PSPDEV_ZeroTQ]  DEFAULT (0),
	[BigTQ] [float] NULL CONSTRAINT [DF_Template_PSPDEV_BigTQ]  DEFAULT (0),
	[SmallTQ] [float] NULL CONSTRAINT [DF_Template_PSPDEV_SmallTQ]  DEFAULT (0),
	[HuganLine1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[HuganLine2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[HuganLine3] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[HuganLine4] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[HuganTQ1] [float] NULL CONSTRAINT [DF_Template_PSPDEV_HuganTQ1]  DEFAULT (0),
	[HuganTQ2] [float] NULL CONSTRAINT [DF_Template_PSPDEV_HuganTQ2]  DEFAULT (0),
	[HuganTQ3] [float] NULL CONSTRAINT [DF_Template_PSPDEV_HuganTQ3]  DEFAULT (0),
	[HuganTQ4] [float] NULL CONSTRAINT [DF_Template_PSPDEV_HuganTQ4]  DEFAULT (0),
	[HuganTQ5] [float] NULL CONSTRAINT [DF_Template_PSPDEV_HuganTQ5]  DEFAULT (0),
	[HuganFirst] [decimal](18, 0) NULL CONSTRAINT [DF_Template_PSPDEV_HuganFirst]  DEFAULT (0),
	[Lable] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[BigP] [float] NULL CONSTRAINT [DF_Template_PSPDEV_BigP]  DEFAULT (0),
	[K] [float] NULL CONSTRAINT [DF_Template_PSPDEV_K]  DEFAULT (0),
	[G] [float] NULL CONSTRAINT [DF_Template_PSPDEV_G]  DEFAULT (0),
	[KName] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[KSwitchStatus] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[ReferenceVolt] [float] NULL CONSTRAINT [DF_Template_PSPDEV_ReferenceVolt]  DEFAULT (0),
	[P0] [float] NULL CONSTRAINT [DF_Template_PSPDEV_P0]  DEFAULT (0),
	[I0] [float] NULL CONSTRAINT [DF_Template_PSPDEV_I0]  DEFAULT (0),
	[SiN] [float] NULL CONSTRAINT [DF_Template_PSPDEV_SiN]  DEFAULT (0),
	[SjN] [float] NULL CONSTRAINT [DF_Template_PSPDEV_SjN]  DEFAULT (0),
	[SkN] [float] NULL CONSTRAINT [DF_Template_PSPDEV_SkN]  DEFAULT (0),
	[iV] [float] NULL CONSTRAINT [DF_Template_PSPDEV_iV]  DEFAULT (0),
	[jV] [float] NULL CONSTRAINT [DF_Template_PSPDEV_jV]  DEFAULT (0),
	[kV] [float] NULL CONSTRAINT [DF_Template_PSPDEV_kV]  DEFAULT (0),
	[Pij] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Pij]  DEFAULT (0),
	[Pjk] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Pjk]  DEFAULT (0),
	[Pik] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Pik]  DEFAULT (0),
	[Vij] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vij]  DEFAULT (0),
	[Vjk] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vjk]  DEFAULT (0),
	[Vik] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vik]  DEFAULT (0),
	[Vipos] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vipos]  DEFAULT (0),
	[Vistep] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vistep]  DEFAULT (0),
	[Vimax] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vimax]  DEFAULT (0),
	[Vimin] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vimin]  DEFAULT (0),
	[Vjpos] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vjpos]  DEFAULT (0),
	[Vjstep] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vjstep]  DEFAULT (0),
	[Vjmax] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vjmax]  DEFAULT (0),
	[Vjmin] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vjmin]  DEFAULT (0),
	[Vkpos] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vkpos]  DEFAULT (0),
	[Vkstep] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vkstep]  DEFAULT (0),
	[Vkmax] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vkmax]  DEFAULT (0),
	[Vkmin] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vkmin]  DEFAULT (0),
	[Vi0] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vi0]  DEFAULT (0),
	[Vj0] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vj0]  DEFAULT (0),
	[Vk0] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vk0]  DEFAULT (0),
	[Vib] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vib]  DEFAULT (0),
	[Vjb] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vjb]  DEFAULT (0),
	[Vkb] [float] NULL CONSTRAINT [DF_Template_PSPDEV_Vkb]  DEFAULT (0),
	[UnitFlag] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[RateVolt] [float] NULL CONSTRAINT [DF_Template_PSPDEV_RateVolt]  DEFAULT (0),
	[SubstationEleID] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[SubstationName] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[OperationYear] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[IName] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[JName] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[ISwitch] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[JSwitch] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[ZeroGNDC] [float] NULL CONSTRAINT [DF_Template_PSPDEV_ZeroGNDC]  DEFAULT (0),
	[PositiveGNDC] [float] NULL CONSTRAINT [DF_Template_PSPDEV_PositiveGNDC]  DEFAULT (0),
	[ProjectID] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[LayerID] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[JXFS] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[DQ] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[AreaID] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[LineType2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[Length2] [float] NULL,
	[LLFS] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[SwitchNum] [int] NULL,
	[HgFlag] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[Num1] [float] NULL,
	[Num2] [float] NULL,
	[FactI] [float] NULL,
	[Date1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[Date2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
 CONSTRAINT [PK_Template_PSPDEV] PRIMARY KEY CLUSTERED 
(
	[SUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
